.listeditPage {
  .listForm {
    max-width: 400px;
    margin: 100px auto 0;
  }
  .submitBtn {
    background: #29b744;
    color: #fff;
    max-width: 400px;
    padding: 10px;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
}
