.listnewPage {
  .new_list {
    max-width: 400px;
    margin: 100px auto 0;
    .error_title {
      color: #e40909;
    }
  }
  .submitBtn {
    background: #29b744;
    color: #fff;
    max-width: 400px;
    padding: 10px;
    margin: 20px auto 0;
    width: calc(100% - 70px);
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
}
