.signinPage {
  margin-top: 10vh;
  .titleArea {
    text-align: center;
    h1 {font-size: 2rem;}
  }
  .new_user {
    .form-group {
      max-width: 400px;
      margin: 0 auto 1rem;
      margin-top: 20px;
      .form-control {
        background: #EDEFF0;
        border: 1px solid #CDD2D4;
        border-radius: 4px;
      }
    }
  }
  .loginBtn {
    padding: 12px;
    max-width: 400px;
    border-radius: 3px;
    background: #61BD4F;
    color: #fff;
    text-align: center;
    border: none;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}
