body {
  overflow: visible;
}

.notice,
.alert {
  display: none;
}

.sinupPage {
  margin-top: 10vh;
  .titleArea {
    text-align: center;
    h1 {font-size: 2rem;}
  }
  .signupForm {
    .form-group {
      margin: 0 auto 0 auto;
      margin-top: 20px;
      max-width: 400px;
      .form-control {
        background: #EDEFF0;
        border: 1px solid #CDD2D4;
        border-radius: 4px;
      }
    }
  }
  .submitBtn {
    background: #29b744;
    color: #fff;
    max-width: 400px;
    padding: 10px;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
}
